---
name: contact_notification
from: 'Example Site <testfromsteven@example.com>'
subject: Contact
to: '{{ form.properties.email }}'
---
<h2>Hi there</h2>
<p>Thank you for your request, we will contact you shortly!</p>

