<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Header */
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        body {
            font-size: 16px;
            position: relative;
            
        }
        .header-title {
            display: flex; 
            justify-content: space-between; 
            background-color: #cb2324;
            color: white;
        }
        .header-title .navBar  {
            width: 50%
        }
        .header-title nav ul {
            display:flex;
            justify-content: space-around;
        }
        .header-title nav ul li {
            margin-top: 20px
        }

        /* Content */
        .content {
            width: 70%;
            margin: auto;
            text-align: center;
            background-color: #f1f1f1;
            margin-top: 40px

        }
        .content h1 {
            font-weight: bold;
            color: #b92b19;
            
        }
        
    </style>
</head>
<body>
    <div class="header-title">
        <div class="logo">
            <h1>Salon<span>Everywhere</span></h1>
            <p>Your Pro, Your Venue, Your Choice</p>
        </div>
        <div class="navBar">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
        <div class="content">
          <h1>Thank you!</h1>
          <p>We will contact you shortly</p>
        </div>
    </div>
</body>
</html>