<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layout/head' %}
</head>

<body class="antialiased font-sans leading-relaxed">
  {{ content_for_layout }}
  {% include 'layout/scripts' %}
</body>
</html>